body{
  border: 0;
  margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #190505;
    color: aliceblue;
}

#root, .App{
  width: 100%;
  display: flex;
  justify-content: center;
}

h2{
  font-size: 2rem;
  margin: 1rem 0;

}

.editor{
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ProseMirror{
  max-width: 800px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  height: 50%;
  overflow-y: auto;
  background-color: aliceblue;
  color: #190505;
  height: 400px;
}
.App-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.wavy-lines{
  margin-bottom: 2rem;
}

.button-group{
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  background-color: slategray;
  width: 100%;
}

button{
  background-color: #ccc;
  color: aliceblue;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.5rem;
}

button.is-active{
  background-color: #190505;
  color: aliceblue;
}
